.title {    
    text-align: center;
    font-size: xxx-large;
}

.subtitle {
    text-align: center;
}

.testBorder {
    border-width: 3px;
    border-color: black;
    border-style: solid;
}

.inputGroup > label {
    width: 20%;
}

.inputGroup > input {
    width: 50%;
}
.inputGroup {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}